@define-color background #1d1f21;
@define-color foreground #c5c8c6;
@define-color color1 #cc6666;
@define-color color8 #969896;

*{
    font-family: JetBrainsMono Nerd Font;
}

#window {
    border: 1px solid @color1;
    background-color: @background;
    margin: 0px 5px 0px 5px;
}

#outer-box {
    padding:10px;
    margin-top: -28px;
}

#text {
    padding: 5px;
    color: @foreground;
}

#entry {
    background-color: @color8;
    margin: 5px 0px;
}

#entry:selected {
    background-color: @color1;
}
